<h1>Employee</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employee$ | async">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
            <td><a (click)="showDialog()">Delete</a></td>
        </tr>
    </tbody>
</table>

<div class="popup" *ngIf="popup" [@flyIn]="popup ? 'open': 'close'">
    <p>are you sure?</p>
    <button (click)="delete()">Yes</button>
    <button (click)="hideDialog()">No</button>
</div>