<p>task-form works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(checkedForm.value)" class="test">
    <label>
        E-mail:
        <input type="text" formControlName="email">
    </label>
    <label>
        Password:
        <input type="password" formControlName="password">
    </label>
    <label>
        Confirm Password:
        <input type="password" formControlName="repassword">
    </label>
    <label>
        Nickname:
        <input type="text" formControlName="nickname">
    </label>
    <label>
        Number:
        <input type="text" fromControlName="number">
    </label>

    <button type="submit" class="button" [disabled]="registerForm.status==='INVALID' || registerForm.controls.password.value !== registerForm.controls.repassword.value">Register</button>
</form>