<h1>Employees</h1>

<a routerLink="/employees/register" class="button fancy-button">
    Register
</a>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees$ | async">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
        </tr>
    </tbody>
</table>