<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
    Currencies
</a>

<a [routerLink]="['/dashboard']" class="button fancy-button">
    Dashboard
</a>

<a [routerLink]="['/guard']" class="button fancy-button">
    Guard
</a>


<span>
    <a [routerLink]="['/wishlist']" class="button fancy-button">
        <i class="material-icons">wish_list</i>
        Wishlist
    </a>

    <a [routerLink]="['/cart']" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>
        Checkout
    </a>
</span>