<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>

<a [routerLink]="['/employees']" class="button fancy-button">
    Employees
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
    Currencies
</a>

<a [routerLink]="['/dashboard']" class="button fancy-button">
    Dashboard
</a>

<a [routerLink]="['/guard']" class="button fancy-button">
    Guard
</a>

<a [routerLink]="['/login']" class="button fancy-button" *ngIf="!userService.isEnabled()">
    Login
</a>

<a [routerLink]="['/login']" (click)="logout()" class="button fancy-button" *ngIf="userService.isEnabled()">
    Logout
</a>

<a [routerLink]="['/register']" class="button fancy-button">
    Register
</a>

<a [routerLink]="['/user']" class="button fancy-button" *ngIf="userService.isEnabled()">
    Users
</a>

<span>
    <a [routerLink]="['/wishlist']" class="button fancy-button">
        <i class="material-icons">wish_list</i>
        Wishlist
    </a>

    <a [routerLink]="['/cart']" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>
        Checkout
    </a>
</span>

<button class="button fancy-button" (click)="menu.showMenu()">Menu</button>
<app-menu #menu></app-menu>
